
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/pexels-photo-1227648.jpeg) no-repeat ;
  background-size: 100% ;

  background-position: top;
  min-height: 100%;
  margin-bottom: 50px;
}

.appFooter {
  height: 25px;
}

